.login-content-container {
    position: relative;
    margin-top: 5vh;
    margin-bottom: 7vh;
}
  
.login-card {
    position: relative;
    opacity: 90%;
    padding-left: 0; /* Remove default padding */
    margin-left: auto; /* Center the login card horizontally */
    margin-right: auto; /* Center the login card horizontally */
}

.LoginPage-background {
    /* fallback for old browsers */
    background: url('./images/login-reg-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}
