@media (min-width: 600px) {

  .navbar {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 11vw;
      height: 7vh;
      background-color: #ffffff;
      box-shadow: 0px 1vh 1vw rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2vw;
      z-index: 999;
      border-bottom-left-radius: 2vw; /* Rounded bottom-left corner */
      border-bottom-right-radius: 2vw; /* Rounded bottom-right corner */
      font-family: 'Roboto', sans-serif; /* Apply Roboto font */
      font-weight: bold;
      cursor: pointer; /* Change cursor to pointer on hover */
      transition: background-color 0.3s ease; /* Smooth transition effect */
    }
    
    .navbar:hover {
      background-color: rgba(255, 255, 255, 0.486)/* Change background color on hover */
    }
    
    .navbar.active {
      background-color: #b89866; /* Change background color when active */
    }

    .navbar a {
      position: relative;
      text-decoration: none; /* Remove default underline */
      opacity: 50%;
      color: inherit; /* Inherit text color */
      font-weight: 900;
      font-size: large;
    }
    
  .footer {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15vh;
      background-color: #aa7e38; 
      box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.5); 
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 3vw;
      margin-top: -3vh;
  }
    
  .footer a {
      color: #282828; /* Adjust link color */
      text-decoration: none;
  }
    
  .footer a:hover {
      text-decoration: underline; /* Add underline on hover */
  }
    
  .footer-separator {
      margin: 0 1vw; /* Adjust spacing between links */
  }  
}

@media (max-width: 599px) {
    .navbar {
      margin-bottom: 1vh;
      transition: background-color 0.3s ease; /* Smooth transition effect */
      cursor: pointer; /* Change cursor to pointer on hover */
    }
    
    .navbar:hover {
      background-color: rgba(255, 255, 255, 0.486)/* Change background color on hover */
    }
    
    .navbar.active {
      background-color: #b89866; /* Change background color when active */
    }

    .navbar a {
      position: relative;
      text-decoration: none; /* Remove default underline */
      opacity: 50%;
      color: inherit; /* Inherit text color */
      font-weight: 900;
      font-size: large;
    }
    
  .footer {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15vh;
      background-color: #aa7e38; 
      box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.5); 
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -3vh;
  }
    
  .footer a {
      color: #282828; /* Adjust link color */
      text-decoration: none;
      font-size: small;
  }

  .Trademark {
    font-size: small;
  }
    
  .footer a:hover {
      text-decoration: underline; /* Add underline on hover */
  }
    
  .footer-separator {
      margin: 0 1vw; /* Adjust spacing between links */
  }
}