.reg-content-container {
    position: relative;
    margin-top: 5vh; /* Adjust to match the navbar height */
    margin-bottom: 7vh;
}

.register-card {
    position: relative; /* Keep position relative */
    opacity: 90%;
    padding-left: 0; /* Remove default padding */
    margin-left: auto; /* Center the login card horizontally */
    margin-right: auto; /* Center the login card horizontally */
}